<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <title>AngularJS • TodoMVC</title>
    {% stylesheets
      "@AcmeDemoBundle/Resources/public/components/todomvc-common/base.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    <style>[ng-cloak] { display: none; }</style>
</head>
<body ng-app="todomvc">
<ng-view />

<script type="text/ng-template" id="todomvc-index.html">
    <section id="todoapp" ng-controller="TodoCtrl">
        <header id="header">
            <h1>todos</h1>
            <form id="todo-form" ng-submit="addTodo()">
                <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo.title" autofocus>
            </form>
        </header>
        <section id="main" ng-show="todos.length" ng-cloak>
            <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list">
                <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo === editedTodo}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="completeTodo(todo)">
                        <label ng-dblclick="editTodo(todo)">{[{todo.title}]}</label>
                        <button class="destroy" ng-click="removeTodo(todo, $index)"></button>
                    </div>
                    <form ng-submit="doneEditing(todo, $index)">
                        <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEditing(todo, $index)" ng-blur="doneEditing(todo, $index)" todo-focus="todo == editedTodo">
                    </form>
                </li>
            </ul>
        </section>
        <footer id="footer" ng-show="todos.length" ng-cloak>
          <span id="todo-count"><strong>{[{remainingCount}]}</strong>
            <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
          </span>
            <ul id="filters">
                <li>
                    <a ng-class="{selected: status == ''} " href="#/">All</a>
                </li>
                <li>
                    <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
                </li>
                <li>
                    <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
                </li>
            </ul>
            <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({[{completedCount}]})</button>
        </footer>
    </section>
    <footer id="info">
        <p>Double-click to edit a todo</p>
    </footer>
</script>
{% javascripts
"@AcmeDemoBundle/Resources/public/components/todomvc-common/base.js"
  "@AcmeDemoBundle/Resources/public/components/angular/angular.js"
  "@AcmeDemoBundle/Resources/public/components/angular-route/angular-route.js"
  "@AcmeDemoBundle/Resources/public/components/angular-resource/angular-resource.js"
  "@AcmeDemoBundle/Resources/public/components/underscore/underscore.js"
"@AcmeDemoBundle/Resources/public/components/lodash/dist/lodash.js"
  "@AcmeDemoBundle/Resources/public/components/restangular/dist/restangular.min.js"
  "@AcmeDemoBundle/Resources/public/app/app.js"
  "@AcmeDemoBundle/Resources/public/app/*"
%}
<script src="{{ asset_url  }}"></script>
{% endjavascripts %}
</body>
</html>
