{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Todos" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'todo.edit.headline'|trans({'%id%': id}, 'AcmeDemoBundle') }}</h1>

    <form action="{{ url('put_todos', {'id': id}) }}" method="POST" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="put" />

        {{ form_widget(form) }}

        <input type="submit" value="{% trans from 'AcmeDemoBundle' %}todo.edit.submit{% endtrans %}">
    </form>
{% endblock %}

{% set code = code(_self) %}
